<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Mars Data</a></p>
    </div>
  </div>

  <h2>Mars news</h2>
  <h3>{{mars.news_title}}</h3>
  <p>{{mars.news_para}}.</p>
  

  <!-- Section for Featured Image and Facts table -->
  <div class="row" id="mars-featured-image">
    <div class="col-md-8">
      <h2>Featured Mars Image</h2>

      <!-- if images is False/None/non-existent, then default to error message -->
      <img
        src="{{mars.featured_image | default('static/images/error.png', true) }}"
        class="img-responsive"
        alt="Responsive image"
       />
    </div>

    <div class="col-md-4">
      <!-- Mars Facts -->
      <div class="row" id="mars-facts">
        <h4>Mars Facts</h4>
        {{ mars.facts | safe }}
      </div>
    </div>
  </div>


</body>

</html>
